@import '../../variables.scss';

.photo {
  position: sticky;
  top: 0;
  width: calc(40% - var(--nav-size) / 2);
  height: 100vh;
  background-image: url('../../assets/IMG_2831.jpg');
  background-position: center center;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba($black-color, .9), transparent, rgba($black-color, .9));
  }
  .content {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
  h5 {
    color: $primary-color;
  }
}